
<h6 class="text-uppercase">Order Summary</h6>
<!-- <div class="alert alert-danger my-2" *ngIf="danger()"  role="alert">
  Please add items worth of <i class="fa fa-inr" aria-hidden="true"></i>{{dataService.cart.delivery.minimum_order}}
</div> -->
<ul class="order-menu list-unstyled">
    <li class="d-flex justify-content-between"><span>Order Subtotal </span><strong><i class="fa fa-inr" aria-hidden="true"></i> {{ getSubtotal() }}</strong></li>
    <li class="d-flex justify-content-between"><span>Delivery Charges</span><strong>+ <i class="fa fa-inr" aria-hidden="true"></i>{{ getDelivery() }}</strong></li>
    <li class="d-flex justify-content-between" *ngIf="getPackingCharges()"><span>Packing Charges</span><strong>+ <i class="fa fa-inr" aria-hidden="true"></i>{{ getPackingCharges() }}</strong></li>
    <li class="d-flex justify-content-between" *ngIf="dataService.userData.useWallet"><span>Wallet </span><strong>- <i class="fa fa-inr" aria-hidden="true"></i>{{ getWallet() }}</strong></li>
    <li class="d-flex justify-content-between"><span>Total</span><strong class="text-primary price-total"><i class="fa fa-inr" aria-hidden="true"></i>{{ getTotal() }}</strong></li>
</ul>
