@media only screen and (max-width: 900px) {
	.container-fluid {
		width: 100% !important;
		padding: 5px;
		min-height: 900px;
	}
	.flex-column {
		    flex-direction: row !important;
	}
	.nav-item {
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 5px;
	}
}

@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }
  
  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }
  
  /* With arrow tabs */
  
  .with-arrow .nav-link.active {
    position: relative;
  }
  
  .with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #9055A2;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  
  /* lined tabs */
  
  .lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link.active {
    background-color: #9055A2;
    color: #555;
    border-color: #9055A2;

  }
  
  .nav-pills .nav-link {
    color: #555;
  }

  .nav-pills > li > a.active {
    background-color: #b976ce !important;
  }

  .text-uppercase {
    letter-spacing: 0.1em;
  }

  .font-stylo{
      font-weight: 800;
  }

  .input-wrap {
    margin-bottom: 30px;
    position: relative;
    
    label {
        background-color: white;
        color: rgb(27, 27, 27);
        padding: 0 5px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
            top: -5px;
            left: 20px;
    }
}

input {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border-color: #666;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding: 8px 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    display:block;
    transition: box-shadow ease-in-out .1s;
    
    &:hover {
        border-color: #222;
        box-shadow: inset 0 0 0 .04rem #222;
    }
    
    &:focus {
        border-color: blue;
        box-shadow: inset 0px 0px 0px 1px blue, 0px 0px 0px 2px lightBlue;
    }
}
