.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

a.disable {
  pointer-events: none;
  cursor: default;
  opacity: .4;
}

.partitioned {
  padding-left: 9px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 320px;
  min-width: 220px;
  outline-width: 0;
}

#divInner{
  left: 0;
  position: sticky;
}

#divOuter{
  margin: 0 auto;
  width: 300px; 
  overflow: hidden;
}
