<div class="container-fluid" style="width:90%;">
	<section id="category" style="min-height: 900px;">
		<div class="explore-menu-section pt-5 pb-5">
	        <div class="container-fluid">
	            <div  *ngIf="items.length >0 " class="row section-container">

	                <div class="col-12">
	                    <h1 class="menu-section-heading">Restaurants</h1>
	                </div>

<ng-container *ngIf="loading; else loaded">
	<div class="col-12 col-md-4 col-lg-3 pl-5" *ngFor="let i of [1,2,3,4,5,6,7,8]">
		<div class="shadow menu-item-card p-3 mb-3">
			<ngx-skeleton-loader [theme]="{ height: '200px', 'border-radius': '10px'}"></ngx-skeleton-loader>
			<ngx-skeleton-loader [theme]="{ height: '30px'}"></ngx-skeleton-loader>
		</div>
	</div>
</ng-container>

			<ng-template #loaded>
			<div *ngIf="items?.length == 0" style="width: 100%;" class="text-center"> <img src="../../../assets/img/empty-product.png" alt="No Items Found" style="margin-top:100px" class="img-fluid"> </div>			
	                <div *ngFor="let data of items | paginate: { itemsPerPage: 12, currentPage: p }" class="col-12 col-md-4 col-lg-3 pl-lg-5">
	                   <a href="/restaurants/{{data.name | replaceAll}}-{{data._id}}" [ngClass]="{ 'disabled': data.status === 'close' }">
			     <div class="shadow menu-item-card p-3 mb-3" [ngClass]="{'closed': data.status === 'close'}" style="border-radius: 20px;">
	                        <img src="{{data.image_url}}" class="menu-item-image w-100" height="200px" style="border-radius: 10px;"/>
	                        <div class="card-data"><h3 class="menu-card-title">{{data.name}}</h3>
	                      
<!-- 				<a class="mobile-link" style="display: none" href="/restaurants/{{data.name | replaceAll}}-{{data._id}}"></a> -->
	                        <a href="/restaurants/{{data.name | replaceAll}}-{{data._id}}" *ngIf="data.status === 'open'" class="desktop-link view-all">
	                            Quick View
	                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
	                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
	                            </svg>
	                        </a></div>
	                    </div> </a>
	                </div> </ng-template>
	            </div>
	        </div>
	    </div>
	    <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
	</section> 
</div>
