 <footer>
        <div class="container123">
            <div class="sec about"> 
                <h2>About us</h2>
                <p> A spectrum of services rolled into a single app: MeeBuddy. Food, groceries, agricultural, and household services, delivered right to your doorsteps.</p>
                <h3>Flow us</h3>
                <ul class="sci">
                    <li><a href="https://twitter.com/MeeBuddy_"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://instagram.com/meebuddyofficail/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCkX_D1lYrUniH9LRAe9EYVg"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/MeebuddyOfficial/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="sec quicklinks"> 
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy Policy </a></li>
                    <li><a href="#">Helps</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="manager.php">Apply for Franchise<img src="assets/img/new1.gif"/></a></li>
                </ul>
            </div>
            <div class="sec contact"> 
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <span>I3-Block, IIIT Nuzvid<BR>Vijayawada,AP</span>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <p><a href="tel:9000460464">+91 9000460464</a>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <p><a href="mailto:info@meebuddy.com">info@meebuddy.com</a></p>
                    </li>
                </ul>
            </div>
            <div class="sec download"> 
                <h2>Downlaod Links</h2>
            
            <div class="imgs">
                <a href="https://play.google.com/store/apps/details?id=com.meebuddy.android"><img src="assets/img/playstore.png" ></a>
                <a href="https://apps.apple.com/us/app/meebuddy/id1554306664"><img src="assets/img/applestore.png" ></a>
            </div>
        </div>
        </div>
    </footer>
    <div class="copyrightText" style="background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);color:white;">
        <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2021 meebuddy. All Rights Reserved</p>
    </div>