<div class="card col-12">
	<div class="card-body" style="padding:1rem">
		<div style="width:70%; float:left;">
			<h6>DELIVERY ADDRESS</h6>
			<ng-container *ngIf="AddressDet.length > 0; else empty">
				<span><b>{{selectedAddress?.name}}</b> ,{{selectedAddress?.address}}</span>
				<h6>{{selectedAddress?.mobile_num}}</h6>
			</ng-container>
			<ng-template #empty>
				<span><b> Add Address </b></span>
			</ng-template>
		</div>
		<div style="width:30%; float:right;">
			<button class="btn btn-secondary my-4" data-toggle="modal" data-target="#address"
				[disabled]="!dataService.userData.isSignedIn">{{ AddressDet.length > 0 ? "Change" : "+ Add"}}</button>
		</div>
	</div>

<div class="modal fade" id="address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
        <div class="text-center">
            <button class="btn btn-secondary col-8 text-center" (click)="action(true)" [disabled]="canShow">
                <b>Add New Address</b>
            </button>
        </div><br/>
        <ng-container *ngIf="!canShow">
            <div class="col-md-12" *ngFor="let addr of AddressDet">
                <app-address-card [address]="addr" (selected)="deleteAddr($event)" [Default]="defAddr" (newDefault)="setDefault($event)" (editAddr)="editFunc($event)" [partial]="true"></app-address-card>
            </div>
        </ng-container>


        <ng-container #addressFrom *ngIf="canShow">
          <div id="addaddress">
            <div class="card-body">
              <div class="row">

                <div class="form-group col-md-6">
                  <label for="firstname" class="form-label">Name</label>
                  <input id="firstname" type="text" name="first-name" [(ngModel)]="shippingAddr.name" class="form-control">
                </div>

                <div class="form-group col-md-6">
                  <label for="phone-number" class="form-label">Phone Number</label>
                  <input id="phone-number" type="tel" name="phone-number"  [(ngModel)]="shippingAddr.mobile_num" class="form-control">
                </div>

                <div class="form-group col-md-12">
                  <label for="street" class="form-label">Address</label>
                  <input id="street" type="text" name="address"  [(ngModel)]="shippingAddr.address" class="form-control">
                </div>

              </div>
            </div>
          </div>
        </ng-container>

        <div class="text-center" *ngIf="canShow && AddressDet?.length">
            <button class="btn btn-secondary col-lg-8 text-center" (click)="action(false)">
                <b>Choose Existing Address</b>
            </button>
        </div>
		</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="proceed()">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>

</div>
