<!-- <app-homenavbar></app-homenavbar> -->
<app-servicenavbar></app-servicenavbar>
<app-supermenu></app-supermenu>
<app-breadcrumb *ngIf=" router.url != '404'"></app-breadcrumb>
<!--<div *ngIf="!isMobile"  class="align-items-center"><app-megamenu></app-megamenu></div> -->
<app-mobile-menu></app-mobile-menu>
<!--<app-sticky-button></app-sticky-button> -->
<app-logo-load *ngIf="common.logoLoad"></app-logo-load>
<router-outlet></router-outlet>
<!-- <app-floatapp></app-floatapp> -->
<app-footer></app-footer>
<!-- modals --->
<app-image-popup></app-image-popup>
<app-loginmodal></app-loginmodal>

<app-locationmodal></app-locationmodal>
