<div class="modal fade" id="UpdateAddress" role="dialog">
    <div class="modal-dialog" style="width: inherit;">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: none; padding: 0.5rem;">
            <h5 class="modal-title"></h5>
            <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close" #remove>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="text-center mb-3"><img src="https://meebuddy.com/images/meebuddy_logo.png" style="height: 100px;"></div>
            <form role="form" [formGroup]="address">

              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <ng-container *ngIf="mandals?.length == 1; else multiple">
                    <input
                      class="form-control"
                      type="text"
                      formControlName="mandal"
                      value="{{mandals[0]?.name}}"
                      disabled
                    />   
                  </ng-container>
                  <ng-template #multiple>
                    <select 
                      formControlName="mandal"
                      class="form-control"
                      type="text"
                                         
                    >
                    <option value=""> Choose your Mandal </option>
                    <option *ngFor="let mandal of mandals; let i=index" [value]="mandal._id" [selected]="i === 0">{{mandal.name}}</option>
                    </select>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative">
               
                  <select 
                    formControlName="village"
                    class="form-control"
                    type="text"
                                       
                  >
                  <option value=""> Choose your village </option>
                  <!-- <option *ngFor="let village of villages| slice:0:1" value="{{village._id}}" selected>{{village.name}}</option> -->
                  <option *ngFor="let village of villages" value="{{village._id}}">{{village.name}}</option>

                  </select>
                </div>
              </div>
              
          
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4" (click)="submit()" data-dismiss="modal">
                  Continue
                </button>
              </div>
            </form>
        </div>
      </div>
    </div>
</div>
