@media only screen and (max-width: 900px) {
        .float-child-one { width: 100% !important; margin: 0px !important; padding: unset !important; z-index: 1000; display: none; }
        .float-child-two { width: 100% !important; padding: 0px !important; margin-top: 0px !important;} 
	#bottomCart { display: none !important; }
        .container-fluid {
                width: 100% !important;
        }
	.catName { font-size: larger !important; }
	.section-container { margin: auto; }
	.item { padding: 0px !important; }
	.filter { 
		float: right;
		display: block !important;
	}
	.mobile { display: block !important; }
	.desktop { display: none !important; }
	#mobile-menu { display: block !important; }
}

#mobile-menu { display: none; }


@import url("https://fonts.googleapis.com/css?family=Roboto:100");
h4 {
  letter-spacing: 3px;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  color: black;
  font-weight: 500;
}

.content {
  width: 100%;
  height: 100%;
/*  background: linear-gradient(70deg, orange, crimson); */
}

.filter {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  font-weight: 700;
  z-index: 99999;
}

.content .header{
  background-color: white;
}



.item { padding: 0px; }

.mobile { display: none; }

.float-child-one {
  width: 25%;
  float: left;
  padding: 10px;
  margin-top: 40px;
}

.float-child-two {
  width: 75%;
  float: right;
  padding: 20px;
  position: relative;
  overflow-y: auto;
}


body {
  font: 14px/16px Arial, Verdana;
  padding: 10px;
  background: #345a80;
}
 
/*
.container {
  width: 550px;
  margin: 0 auto;
  background: #dddddd;
  position: relative;
  overflow-y: auto;
  height: 300px;
  padding: 10px;
} */
/* 
.header, .header-floating {
  font-size: 24px;
  color: #345a80;
  font-weight: normal;
  padding: 10px 0;
  margin: 0;
}
 
.header-floating {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  padding-left: 10px;
  padding-right: 10px; 
}
*/
body {
  padding: 2rem 0rem;
}
.card .card-img-overlay:after{
	background: rgba(0, 0, 0, 0);
	content: normal;
}

.like {
  font-size: 1.5rem;
}

.closed {
	filter:grayscale(1);opacity:0.6;
}


.my-pagination ::ng-deep .ngx-pagination .current {
  background: rgb(184, 76, 151);
}

.chekout-button
  {
    background-image: linear-gradient(120deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    width:320px;
    text-decoration: none;
    border:0px;
    color:white;
    margin:5px;
    height:43px;
  }


.btn {
  padding: 0.425rem 1rem;
}
.jHVRcr {
    left: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 68%;
    height: 2.2rem;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 6.9px;
    overflow: hidden;
    cursor: initial;
    user-select: none;
    background: rgb(255, 255, 255);
  }
  .charges-text
  {
    font-size: 14px;
  }
  .items-count
  {
    font-size: 15px;
  }
  .total
  {
    font-size: 21px;
  }
  .cart-heading 
  {
    font-weight: bold;
    font-size: 35px;
  }
  .item-name
  {
    font-size: 15px
  }
  .cMipmx
  {
    width:10px;
  }
  .chekout-button
  {
    background-image: linear-gradient(120deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    width:320px;
    text-decoration: none;
    border:0px;
    color:white;
    margin:5px;
    height:43px;
  }
  .arrs
  {
    margin-left: 5px;
  }
  .huikLB {
    height: 100%;
  }
  
  .cMipmx {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hTzRFw {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 31.6667%;
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .iNGntN {
    margin-top: 0.2rem;
  }
  
  .MxLSp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
  }
  
  .hoSSCx {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 14px;
    height: 14px;
  }
  
  .iQCkqv {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 36.6667%;
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;


  }
  .item-price
  {
    font-size: 15px;
  }
  
  .fTsfFl {
    color: rgb(28, 28, 28);
    font-size: 1.4rem;
    margin: 0px 0.5rem;
    font-weight: 500;
  }
  
  .TZpZK {
    margin-top: 0.2rem;
  }

.total-card{
    justify-content: space-between;

}
.total-price,.total
{
  font-weight: bold;
}
.charges-text
{
  color:#837E7C;
}