<div class="container">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            <h6>Order ID: {{order.order_id}}</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col full"> <strong>Placed time:</strong> <br>{{order.placed_time}}</div>
                    <div class="col"> <strong>Payment:</strong> <br>{{order.preferred_payment | titlecase}}</div> 
                    <div class="col"> <strong>Status:</strong> <br> <b> {{order.status | titlecase }}</b> </div>
<!--                    <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div> -->
                </div>
            </article>
            <div class="track">
                <div class="step" [ngClass]="{ 'active':order.placed_time !== undefined }"> <span class="icon"> <i class="fas fa-shopping-cart"></i> </span> <span class="text"> Placed <br/><span class="date">{{order.placed_time || "Pending"}}</span></span> </div>
                <div class="step" [ngClass]="{ 'active':order.confirmed_time  !== undefined}" *ngIf="!processing"> <span class="icon"> <i class="fas fa-check"></i> </span> <span class="text"> Confirmed <br/><span class="date">{{order.confirmed_time || "Pending"}}</span></span> </div>
                <div class="step" [ngClass]="{ 'active':order.packed_time !== undefined }" *ngIf="!processing"> <span class="icon"> <i class="fas fa-user"></i> </span> <span class="text"> Packed <br/><span class="date">{{order.packed_time || "Pending"}}</span></span> </div>
                <div class="step" [ngClass]="{ 'active':order.shipped_time !== undefined }" *ngIf="!processing"> <span class="icon"> <i class="fas fa-truck"></i> </span> <span class="text"> Shipped <br/><span class="date">{{order.shipped_time || "Pending"}}</span></span> </div>
                <div class="step" [ngClass]="{ 'active':order.delivered_time !== undefined }" *ngIf="!processing"> <span class="icon"> <i class="fas fa-box"></i> </span> <span class="text"> Delivered <br/><span class="date">{{order.delivered_time || "Pending"}}</span></span> </div>
		<div class="step" [ngClass]="{ 'active':order.rejected_time !== undefined }" *ngIf="processing && order.rejected_time"> <span class="icon"> <i class="fas fa-window-close"></i> </span> <span class="text"> Rejected <br/><span class="date">{{order.rejected_time || "Pending"}}</span></span> </div>
		<div class="step" [ngClass]="{ 'active':order.deleted_time !== undefined }" *ngIf="processing && order.deleted_time"> <span class="icon"> <i class="fas fa-trash-alt"></i> </span> <span class="text"> Deleted <br/><span class="date">{{order.deleted_time || "Pending"}}</span></span> </div>
            </div>

<!--            </div> 

            </div>  -->
		<hr/>

	    <div class="d-sm-flex justify-content-between mb-4 pb-3 pb-sm-2 border-bottom" *ngFor="let item of order.items">
              <div class="media d-block d-sm-flex text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4 image-box" style="width: 10rem;"><img src="{{item.image_url}}" class="prod-image" alt="Product" width="130px" height="130px"></a>
                <div class="media-body pt-2 ml-3">
                  <h6 class="product-title font-size-base mb-2 item-left col-12"><a>{{item.name}}</a></h6>

                  <div class="font-size-sm item-left"><span class="text-muted mr-2">Size:</span>{{item.quantity}}</div>

                </div>
              </div>
              <div class="pt-2 pl-sm-3 mx-auto mx-sm-0 text-center prod-info item-left">
                <div class="text-muted mb-2">Quantity:</div>{{item.count}}
              </div>
              <div class="pt-2 pl-sm-3 mx-auto mx-sm-0 text-center prod-info item-right">
                <div class="text-muted mb-2">Subtotal</div><i class="fa fa-inr" aria-hidden="true"></i>{{item.cost}}
              </div>
            </div>

		<div class="px-2 px-lg-5 py-1 float-right"><span class="text-muted">Total:&nbsp;</span><span class="font-size-lg"><i class="fa fa-inr" aria-hidden="true"></i>{{order.final_cost}}</span></div>

            <a routerLink="/profile" class="btn btn-warning" data-abc="true" fragment="orders"> <i class="fa fa-chevron-left"></i> Back to orders</a>
        </div>
    </article>
</div>
