<section id="profile">
  <div class="container-fluid" id="profileTab" style="min-height: 900px;width:90%;">
    <h1 class="text-center offset-lg-1 col-12 hide" style="font-weight:600">Profile Page</h1>
  <div class="row">
    <div class="col-md-2 mb-3 my-lg-5" id="navTabs">
        <ul class="nav nav-pills flex-column" id="myTab" role="tablist" style="position : relative;">
          <li class="nav-item col-sm-12 col-6" id="centerProfile" style="padding-right:0rem;margin-bottom: 1rem;">
            <a class="nav-link active" id="myprofile-tab" data-toggle="tab" href="#myprofile" role="tab" aria-controls="myprofile" aria-selected="true">
            <i class="fas fa-user " style='font-size:18px;'></i>&nbsp;
            Profile</a>
          </li>

          <li class="nav-item col-sm-12 col-6" style="padding-right:0rem;margin-bottom: 1rem;">
            <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">
            <i class="fas fa-shopping-cart" style='font-size:18px;'></i>&nbsp;
            Orders</a>
          </li>
          <li class="nav-item col-sm-12 col-6" style="padding-right:0rem;margin-bottom: 1rem;">
            <a class="nav-link" id="wallet-tab" data-toggle="tab" href="#wallet" role="tab" aria-controls="wallet" aria-selected="false">
            <i class="fa fa-google-wallet" style="font-size:18px;"></i>&nbsp;
            Wallet</a>
          </li>
          <li class="nav-item col-sm-12 col-6" style="padding-right:0rem;margin-bottom: 1rem;">
            <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false">
            <i class="fa fa-heart" aria-hidden="true" style="font-size:18px;"></i>&nbsp;
            Favourites</a>
          </li>
          <li class="nav-item col-sm-12 col-6" style="padding-right:0rem;margin-bottom: 1rem;">
            <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">
            <i class="fa fa-address-card" aria-hidden="true" style="font-size:18px;"></i>&nbsp;
            Address</a>
          </li>
          <li class="nav-item col-sm-12 col-6" style="padding-right:0rem;margin-bottom: 1rem;">
            <a class="nav-link" [routerLink]="['/logout']" aria-selected="false">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size:18px;"></i>&nbsp;
            Logout</a>
          </li>
        </ul>
    </div>
    <div class="col-lg-10">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="myprofile" role="tabpanel" aria-labelledby="myprofile-tab">
          <app-myprofile></app-myprofile>
        </div>

        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
          <app-orders></app-orders>
        </div>
        <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="favourites-tab">
          <app-wallet></app-wallet>
	  
        </div>
        <div class="tab-pane fade" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
          <app-wishlist></app-wishlist>
        </div>
        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
          <app-address></app-address>
        
        </div>
      </div>
    </div>
  </div>
</div>
</section>
