@import url("../../../assets/css/checkout.css");

// colors
$blue: #269bff;
$bg-light: #f2f2f2;
$bg-med: #eee;

// the magic
div.checkbox.switcher, div.radio.switcher {
  label {padding: 0;
    * {vertical-align: middle;}
    input {display: none;
      &+span {position: relative; display: inline-block; margin-right: 10px; width: 56px; height: 28px; background: $bg-light; border: 1px solid $bg-med; border-radius: 50px; transition: all 0.3s ease-in-out;
        small {position: absolute; display: block; width: 50%; height: 100%; background: #fff; border-radius: 50%; transition: all 0.3s ease-in-out; left: 0;}
      }
      &:checked+span {background: $blue; border-color: $blue;
        small {left: 50%;}
      }
    }
  }
}

// the basic
body {color: #757575; font-family: 'Lato', sans-serif; font-size: 16px;
  div.container {padding: 5% 0}
}


@media only screen and (max-width: 900px) {
	#mobileCart { display: block !important; }
        section.checkout { padding: 10px 0; }
        section.checkout .tab-content { padding: 0px; }

section.checkout .nav-pills {
        background: #ffffff;
        border-radius: 200px;
        padding: 0;
        border: none !important;
        height: 50px;
        overflow: hidden;
        margin-bottom: 20px;
}

}


.card { margin-bottom: 20px !important; }

.form-group { margin-bottom: 0px !important; }

/* Form text input */

.search-wrapper input {
  padding-left: 20px;
    padding: 10px 5px;
    float: left;   
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #9055a2;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    bottom: 40px;
}  

.search-wrapper button:hover{    
/*     background: #e54040; */
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #198cff;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   
