<app-loginmodal></app-loginmodal>

<nav class="mobile-bottom-nav" style="width: 100%; display: none;" id="bottomNav">
	<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
		<div class="mobile-bottom-nav__item-content">
			<a data-toggle="modal" data-target="#location" *ngIf="!dataService.userLocation?.village?.name"><i
					class="material-icons">home</i></a>
			<a [routerLink]="['/home']" *ngIf="dataService.userLocation?.village?.name"><i
					class="material-icons">home</i></a>

		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<a [routerLink]="['/search']"><i class="material-icons">search</i></a>
		</div>
	</div>

	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<a data-toggle="modal" data-target="#Login" *ngIf="!dataService.userData.isSignedIn"><i
					class="material-icons">person</i></a>
			<a *ngIf="dataService.userData.isSignedIn" [routerLink]="['/profile']"><i
					class="material-icons">person</i></a>
		</div>
	</div>
</nav>