<section>
  <div class="container">
    <div class="user signinBx">
      <div class="imgBx"><img src="/assets/img/brand/meebuddy_logo.png" alt="" /></div>
      <div class="formBx">
        <form>
          <h2>Details</h2>
          <input type="text" name="" placeholder="Some" [disabled]="true" />
          <input type="text" name="" placeholder="Many" [disabled]="true" />
          <input type="submit" name="" value="Submit" [disabled]="true" />
        </form>
      </div>
    </div>
  </div>
</section>