<section>
    <div class="container-fluid my-lg-5 my-3" id="SellForm" style="width: 80%; min-height: 900px;">
        <div class="card card-body" style="min-height: 600px;">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#sellproduct" role="tab">Sell Your Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#myproducts" role="tab">My Products({{prod_data.length}})</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="sellproduct" role="tabpanel">
                    <div class="container my-5">
                        <div class="row justify-content-center">
                          <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                            <form [formGroup]="productForm" (ngSubmit)="productSubmit()">
                            <div class="row">
                                <div class="col ml-lg-5">
                                    <img [src]="imgURL" class="img-fluid" height="200px" *ngIf="imgURL">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="ml-lg-7 mt-2">Mention Product Details </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <select class="custom-select" formControlName="cat_id" [ngClass]="{ 'is-invalid': submitted && f.cat_id.errors }">
                                            <option value="" disabled>Select Type</option>
                                            <option [value]="type._id" *ngFor="let type of prod_types">{{ type.name }}</option>
                                        </select>
                                        <div *ngIf="submitted && f.cat_id.errors" class="invalid-feedback">
                                            <div *ngIf="f.cat_id.errors.required">Product type is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                              <div class="col mt-2">
                                <input type="text" formControlName="prod_title" class="form-control" placeholder="Product Title" [ngClass]="{ 'is-invalid': submitted && f.prod_title.errors }">
                                <div *ngIf="submitted && f.prod_title.errors" class="invalid-feedback">
                                    <div *ngIf="f.prod_title.errors.required">Product title is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="row align-items-center mt-3">
                              <div class="col">
                                <input type="text" formControlName="prod_desc" class="form-control" placeholder="Product Description" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.prod_desc.errors }">
                                <div *ngIf="submitted && f.prod_desc.errors" class="invalid-feedback">
                                    <div *ngIf="f.prod_desc.errors.required">Product description is required</div>
                                </div>
                            </div>
                            </div>
                            <div class="row align-items-center mt-3">
                                <div class="col">
                                    <input type="text" formControlName="prod_cost" class="form-control" placeholder="Product Cost (rupees)" [ngClass]="{ 'is-invalid': submitted && f.prod_cost.errors }">
                                    <div *ngIf="submitted && f.prod_cost.errors" class="invalid-feedback">
                                        <div *ngIf="f.prod_cost.errors.required">Product cost is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center mt-3">
                                <div class="col">
                                    <input #file type="file" accept='image/*' (change)="preview(file.files)" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col">
                                <button style="width: 100%" type="submit" class="btn btn-primary mt-4">Sell</button>
                              </div>
                            </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="myproducts" role="tabpanel">

                    <div class="container my-lg-5 my-3">
                        <div *ngIf="prod_data.length <= 0">
                            <h4> No Products found!! Please Switch the tab and add some products :)</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" *ngFor="let data of prod_data">
                                <div class="card card-body" style="border-radius:20px;" >
                                    <div class="row">
                                        <div class="col-lg-6 my-lg-2 col-4">
                                            <img src="{{data.images[0].image_url}}" style="height:150px;width:200px;">
                                        </div>
                                        <div class="col-lg-6 my-lg-3 col-8">
                                            <h5 class="text-uppercase text-solid">{{data.name}}</h5>
                                            <h6 class="text-solid">{{data.description}}</h6>
                                            <h6 class="text-solid float-left">{{data.amount}}</h6>
                                            <button class="btn btn-sm btn-danger my-lg-2 float-right">{{data.status}}</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>




    

