.remove {
	display: none !important;
}

.overlay {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
//  background: rgba(39, 42, 43, 0.8);
  background-color: #00000045 !important;
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
  margin: -15px 0 0 -15px;
  button { 
  margin:5px;
  } 
  opacity: 1;
}


@media only screen and (max-width: 900px) {
	#foot { display: none !important;}
}
