h2{
    font-size: 50px;
    line-height: 100px;
    padding-left: 20px;
    font-family: "Lucida Console, Courier, monospace";
  }
  .ost-multi-header {
    position: relative;
    background: #999999;
    padding-bottom: 6px;
  }

  .border-r{
    border-radius: 20px;
  }

  span{
      color: black;
      font-weight: 100;
  }

  .ost-multi-header::after{
    content: '';
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(237,128,52); 
    background: -moz-linear-gradient(left, rgba(237,128,52,1) 0%, rgba(237,128,52,1) 33%, rgba(254,177,35,1) 33%, rgba(254,177,35,1) 66%, rgba(33,132,205,1) 66%, rgba(33,132,205,1) 100%);

    background: -webkit-linear-gradient(left, rgba(237,128,52,1) 0%,rgba(237,128,52,1) 33%,rgba(254,177,35,1) 33%,rgba(254,177,35,1) 66%,rgba(33,132,205,1) 66%,rgba(33,132,205,1) 100%); 

    background: linear-gradient(to right, rgba(237,128,52,1) 0%,rgba(237,128,52,1) 33%,rgba(254,177,35,1) 33%,rgba(254,177,35,1) 66%,rgba(33,132,205,1) 66%,rgba(33,132,205,1) 100%); 
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8034', endColorstr='#2184cd',GradientType=1 ); 
  }

  #inputel{
      border: 0;
      outline: 0;
      border-bottom: 2px solid #19191a5e;
      font-size: 1.4rem;
      color: rgb(0, 0, 0);
 }

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 900px) {
	h2 { font-size: xx-large !important; } 
}
