<section>
  <div class="container">
    <h5 class="font-weight-bold mt-0 mb-4 text-uppercase">Wallet</h5> 
   <div class="row">
      <div class="col-lg-12">
            <div class="card text-center shadow-lg p-lg-4 mb-4 bg-white ost-multi-header" style="border-radius: 1rem;">
                <div class="card-body">
                  <h3 class="card-title text-uppercase" style="font-weight:bold;">Wallet&nbsp;&nbsp;<i class="fas fa-wallet"></i></h3>
                  <h5 class="mb-4"><i class="fa fa-inr" aria-hidden="true"></i>{{data.userData.info.wallet}}</h5>
                  <a class="btn btn-primary text-light" data-toggle="modal" data-target="#walletmodal">Add Money</a>
                </div>
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12" style="max-height: 400px; height: 380px; overflow: auto;">
        <h4 class="text-center" *ngIf="transactions.length <= 0"> No Previous Transactions</h4> 
       <div class="col-lg-12 mx-auto" *ngFor="let pay of transactions">
          <div class="card mx-auto my-auto" style="box-shadow: none;">
            <div class="card border-r my-2 mx-3">
                <div class="card-body" *ngIf="pay.state == '+'" style="background: #2dce89cf; padding: 1rem; border-radius: 6px;">
                  <span class="card-text"><b> Credited using {{pay.for}} </b><span style="float:right;"><b>+ <i class="fa fa-inr" aria-hidden="true"></i>{{pay.amount}}</b></span></span><br>
                  <small class="card-text">ID: {{pay.payment_id}} <span style="float:right;">{{pay.time}}</span></small>
                </div>
                <div class="card-body" *ngIf="pay.state == '-'" style="background: #f5365ca1; padding: 1rem; border-radius: 6px;">
                  <span class="card-text"><b> Payment for {{pay.for}} </b><span style="float:right;"><b>- <i class="fa fa-inr" aria-hidden="true"></i>{{pay.amount}}</b></span> </span><br>
                  <small class="card-text">ID: {{pay.payment_id}} <span style="float:right;">{{pay.time}}</span></small>
                </div>
            </div>
        </div>
      </div> 
      </div>
    </div>


     <!-- wallet modal-->
    <div class="modal fade" id="walletmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form [formGroup]="walletForm" (ngSubmit)="walletSubmit()">
        <div class="modal-content">
          <div class="modal-header mb-2" style="border: none; margin: 0 auto;">
            <h3 class="modal-title text-center"> Enter Amount</h3>
          </div>
          
          <div class="modal-body" style="margin: 0 auto;">
            <input id="inputel" type="text" placeholder="10" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" autocomplete="off">
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
              <div *ngIf="f.amount.errors.required">Amount is required</div>
            </div>
          </div>
          <div class="modal-footer" style="border: none">
            <button type="button" id="modalclose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add to wallet</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
