<!-- <div class="d-flex justify-content-center overlay" id="Load"
  style="background-color:#0000009e; padding:20%; height: -webkit-fill-available; display: block;">
  <div id="logocontainer">
    <div id="MBlogo">MeeBuddy</div>
    <div class="loader" style="left:2vh; top:0; height:2vh; width:0; animation:slide1 1s linear forwards infinite">
    </div>
    <div class="loader"
      style="right:0; top:2vh; width:2vh; height:0; animation:slide2 1s linear forwards infinite; animation-delay:0.5s">
    </div>
    <div class="loader" style="right:2vh; bottom:0; height:2vh; width:0; animation:slide3 1s linear forwards infinite">
    </div>
    <div class="loader"
      style="left:0; bottom:2vh; width:2vh; height:0; animation:slide4 1s linear forwards infinite; animation-delay:0.5s">
    </div>
  </div>
</div> -->

<div class="lds-dual-ring"></div>