.banner-section-bg-container1 {
    background-color: relative;
    position: relative;
}

.banner-section-bg-container2 {}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 300;

}

.banner-caption {
    color: orange;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.main-container2 {
    position: relative;
    background-color: black;
}

.app-img {
    padding:15px;
    top: 30px;

}
.img
{
     width:200px;
    height:auto;
    position:relative;
}

