<section id="wishlist">
<div class="container nopad">
  <h5 class="font-weight-bold mt-0 mb-4 text-uppercase">Favourites</h5>
  <div *ngIf="Wcards[0]?.items.length == 0" class="text-center"> <img src="../../../assets/img/empty-product.png" alt="No Items Found" class="img-fluid"> </div>
 
  <div class="row nopad" *ngFor="let wcards of Wcards">
    <div class="col-md-6 col-lg-4 nopad" *ngFor="let Card of wcards.items | paginate: { itemsPerPage: 9, currentPage: s}">
	<app-food-item [card]="Card" (favItem)="removeFav($event)"></app-food-item>
    </div>
  </div>

</div> 

<section>

<ng-template #empty><img class="img-fluid" src="../../../assets/img/empty-product.png" alt="No Items Found"></ng-template>
