@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     min-height: 100vh;
     flex-direction:column;
     background-color: #ede7f6;
}
footer{
    position:relative;
    width:100%;
    height:auto;
    background: #111;
    padding:50px 100px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container123{
    display: grid;     
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:1em;
}
footer .container123 .sec{
    width: 100%;
}
.about{
    /* border:1px solid red; */
}
.about h3{
    color:#fff;
    margin:10px 0 5px;
    font-weight:500;

}
footer .container123 h2{
    position:relative;
    color:#fff;
    font-weight: 500;
    margin-bottom: 15px;
    font-size:20px;
}
footer .container123 h2::before{
    content: "";
    position:absolute;
    bottom:-5px;
    left:0;
    width:50px;
    height:2px; 
    /* background: #f00; */
    background-image: linear-gradient(to left, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);

}
footer  p{
    color:#999; 
}
.sci{
    display: flex;
    margin-top:20px;
}
.sci li a{
    display:inline-block; 
    text-decoration: none;
    width:40px;
    height:40px;
    background:#222;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
} 
.sci li a:hover{
    /* background: #f00; */
    background-image: linear-gradient(to left, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
}
.sci li a .fa{
    color:#fff;
    font-size: 20px;
}
.quicklinks{
    position:relative;
    /* width:15%; */
    /* border:1px solid red; */
}
.quicklinks ul li a{
    color:#999;
    text-decoration: none;
    margin-bottom: 10px;
    display:inline-block;
}
.quicklinks ul li a:hover{
    color:#fff;
}
.contact{
    /* width:calc(30% - 80px); */
    /* width:20%; */
    margin-right:0 !important;
    /* border:1px solid red; */
}
 
.contact .info{
    position:relative;
}
.contact .info li{
    display:flex; 
    margin-bottom: 16px; 
}
.contact .info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color:#999;
}
.contact .info li a{
    color:#9999; 
}
.contact .info li a:hover{
    color:#fff;
}
.download{
    /* width:25%; */
    /* border:1px solid red; */
    position:relative;
}
.download .imgs{
    width:200px;
    height:auto;
    position:relative;
}
.download .imgs img{
    width:100%;
    height:100%;
}
.copyrightText{
    width:100%;
    background: #181818;
    padding:10px 100px;
    text-align: center;
    color:#999;

}
@media (max-width:1200px){
    footer{
        padding:40px 40px 0 40px;
    }
    footer .container123{
        flex-direction: column;
    }

    footer .container123 .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container123 .sec.about{
        width:100%;
    }
    .quicklinks{
        width:100%;
    }
    .contact{
        width:100%;
    }
    .download{
        width:100%;
        margin-bottom: 0 !important;
    }
    .copyrightText {
        padding: 10px 40px;
        margin-bottom: 50px;
    }
    
}