@media only screen and (max-width: 900px) {
	img {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
		border-radius: 10px;
		height: 100px;
		float: left !important;
	}

	.row { margin-right: -10px; }

	.desktop-link { display: none !important; }

	.mobile-link { 
		display: block  !important;
		height: 100%;
		width: 100%;
		text-decoration: none;
	}

	.card-data {
		float: right !important;
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
		padding: 10px;
	}

	h3 {
		font-size: initial;
		font-weight: 600;
	}

	.explore-menu-section {
		padding-top: .5rem !important;
	}

	.container-fluid { 
		width: 100% !important;
		padding-right: 5px;
		padding-left: 5px;
	 }

	.shadow {
	    display: flex;
	    flex-direction: row;
	    min-width: 0;
	    word-wrap: break-word;
	    background-color: #fff;
	    background-clip: border-box;
	    border-radius: 10px !important;
	    margin-bottom: 5px !important;
	    padding: .5rem !important;
	}
}





.disabled {

  pointer-events: none;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;

}









.closed {
	filter:grayscale(1);opacity:0.6;
}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.ribbon {
 font-size: 12px !important;
 width: 50%;
 position: relative;
 bottom:90px;
 display: table-cell;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
