@import url("../../../assets/css/checkout.css");

@media only screen and (max-width: 900px) {
	.hide { display: none; }
	.addAddress { padding-left: 20px !important; padding-right: 20px !important;}
	h4 { font-size: 1.3rem !important; }
}

.addAddress { float: right !important; }

.add{
	font-weight: 600;
}
