<style type="text/css">
  .card-description
  {
    font-weight: bold;
  }
</style>
<section id="about-us">
  <div
    style="background:black;"
  >
  <div class="header text-center">
    <h1 class="text-white mt-5" style="padding-top:20px; margin-bottom: 20px;">Happy Customers!</h1>
  </div>
  
<div class="row">
        <div class="col-md-6 col-8 mx-auto">
          <carousel [showIndicators]="true">

            <slide class="justify-content-center">
              <div class="card card-testimonial card-plain">
                
                <div class="card-body text-center">
                  <p class="card-description">
                    "I would recommend this app to everyone. Delivery was speed, and the customer care executive was really polite. delivery boys wer helpfull putting their life to risk at redzone areas where people could not step out."
                  </p>
                  <h4 class="card-title">kalyan singh</h4>
                  <div class="card-footer">
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                  </div><br>
                </div>
              </div>
            </slide>


             <slide class="justify-content-center">
              <div class="card card-testimonial card-plain">
                
                <div class="card-body text-center">
                  <p class="card-description">
                    "Yeh meebuddy app..home delivery bhot aacha app hai..yeh app ko launch karke bhoot..aacha kiya hai..thanks to meebuddy...teams.."
                  </p>
                  <h4 class="card-title">Lalit Lalit</h4>
                  <div class="card-footer">
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                  </div><br>
                </div>
              </div>
            </slide>



             <slide class="justify-content-center">
              <div class="card card-testimonial card-plain">
                
                <div class="card-body text-center">
                  <p class="card-description">
                    "I'm actually very happy with this app and service. One of the best things for us while in college. It's the best way to buy goods within a short period of time. The delivery speed is pretty good too.."
                  </p>
                  <h4 class="card-title">Alfiya Shaik</h4>
                  <div class="card-footer">
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                  </div><br>
                </div>
              </div>
            </slide>

            <slide class="justify-content-center">
              <div class="card card-testimonial card-plain">
               
                <div class="card-body text-center">
                  <p class="card-description">
                    "A very nice idea to reach rural areas... Excellent creation of this app... Interface of this app is so easy to select the item... on time home delivery service...All the best to the whole team"
                  </p>
                  <h4 class="card-title">Uday Kiran</h4>
                  <div class="card-footer">
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                  </div><br>
                </div>
              </div>
            </slide>
            <slide class="justify-content-center">
              <div class="card card-testimonial card-plain">
                
                <div class="card-body text-center">
                  <p class="card-description">
                    "👌Awesome Application with Simple and easy to use UI . Perfectly suits Rural areas. Quick Delivery and reasonable prices.One stop solution for all type of cutomers."
                  </p>
                  <h4 class="card-title">Manav</h4>
                  <div class="card-footer">
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                  </div><br>
                </div>
              </div>
            </slide>
            <slide class="justify-content-center">
              <div class="card card-testimonial card-plain">
                
                <div class="card-body text-center">
                  <p class="card-description">
                    "I've had a great experience with this app, big thumbs up to meebuddy and I highly recommend it because you don't need 3 or 4 seperate apps for various deliveries they deliver all items(food, veggies, groceries etc) and services(plumbing, painting etc) too!"<br />

                    <br />
                  </p>
                  <h4 class="card-title">CH Nishitha</h4>
                 
                  <div class="card-footer">
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                    <i class="fa fa-star text-warning"> </i>
                  </div><br>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
  
</div>
</section>