<section id="contact-us">
  <div
    class="contactus-1 bg-default"
    style="background-image: url('assets/img/ill/1.svg')"
  >
    <div class="container">
      <div class="row">
        <div
          class="col-lg-5 col-md-5 d-flex justify-content-center flex-column mt-4"
        >
          <h2 class="title text-white">Get in Touch</h2>
          <h4 class="description text-white">
            You need more information? Check what other persons are saying
            about our product. They are very happy with their purchase.
          </h4>
          <div class="info info-horizontal">
            <div
              class="icon icon-shape icon-shape-primary shadow rounded-circle text-white"
            >
              <i class="ni ni-square-pin"> </i>
            </div>
            <div class="description mb-1">
              <h4 class="info-title text-white">
                Find us at the office
              </h4>
              <p class="description ml-3 text-white">
                Malireddy RajSekhar, RGUKT,<br />

                Nuzvid,<br />

                Krishna
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div
              class="icon icon-shape icon-shape-primary shadow rounded-circle text-white"
            >
              <i class="ni ni-mobile-button"> </i>
            </div>
            <div class="description mb-1">
              <h4 class="info-title text-white">Give us a ring</h4>
              <p class="description ml-3 text-white">
                Rajasekhar<br />

                +91 9182678423<br />

                Mon - Fri, 8:00-22:00
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-7 ml-auto mr-auto mt-4">
          <div class="card card-contact card-raised">
          
              <div class="card-header text-center">
                <h4 class="card-title">Contact Us</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{ 'focused': focus === true }">
                      <label> First name </label>
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-circle-08"> </i>
                          </span>
                        </div>
                        <input
                          aria-label="First Name..."
                          class="form-control"
                          placeholder="First Name..."
                          type="text" (blur)="focus = false" (focus)="focus = true"
                          [(ngModel)] = "formData.first_name"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl-2">
                    <div class="form-group" [ngClass]="{ 'focused': focus1 === true }">
                      <label> Last name </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-collection"> </i>
                          </span>
                        </div>
                        <input  
                          aria-label="Last Name..."
                          class="form-control"
                          placeholder="Last Name..."
                          type="text" (blur)="focus1 = false" (focus)="focus1 = true"
                          [(ngModel)] = "formData.last_name"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ 'focused': focus2 === true }">
                  <label> Contact </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ni ni-email-83"> </i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Your Mobile"
                      type="text" (blur)="focus2 = false" (focus)="focus2 = true"
                      [(ngModel)] = "formData.mobile_num"
                    />
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ 'focused': focus2 === true }">
                  <label> Email (Optional) </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ni ni-email-83"> </i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Your Email "
                      type="text" (blur)="focus2 = false" (focus)="focus2 = true"
                      [(ngModel)] = "formData.email"
                    />
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ 'focused': focus3 === true }">
                  <label> Your message </label>
                  <textarea
                    class="form-control"
                    id="message"
                    name="message" (blur)="focus3 = false" (focus)="focus3 = true"    
                    rows="6"
                    [(ngModel)] = "formData.message"
                  ></textarea>
                </div>
                <div class="row">
                  
                  <div class="col">
                    <button
                      class="btn btn-primary pull-right"
                      type="submit" (click)="contactUs()"
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
