<div>
  <section id="index">
    <button type="button" data-toggle="modal" id="locpop" data-target="#location" style="display: none;"></button>
      <div class="container-fluid" style="padding-top:10px;padding-bottom: 0px;">
    
        </div>
        <div class="my-flex ">
            <div style="margin-top: -80px;" class="d-flex align-items-center flex-column justify-content-center text-center">
              <h3  class="my-5">MeeBuddy</h3>
              <h4 style="margin-top: -60px;">India’s Best Local Service App</h4>
              <p style="max-width:400px">Local Shopping  |  Local Services  |  Local Products</p>
              <h5>GET IT ON</h5>
              <div class="d-flex">
                <a href="https://play.google.com/store/apps/details?id=com.meebuddy.android"> 
                  <img style="width: 100px;" src="assets/img/meebuddy/Section/playstore.png" alt="play store" /></a>
                <!-- <a href="http://web.meebuddy.com"><button class="btn btn-outline-dark btn-icon-text" style="border-radius: 15px; margin-right: 3px;"> <i class="fa fa-globe btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Check Out</small> Website </span> </button></a> -->
                <a href="https://apps.apple.com/us/app/meebuddy/id1554306664" >
                <img style="width: 100px; margin-left: 25px" class="img" src="assets/img/meebuddy/Section/applestore.png" alt="App store" />
                  <!-- <button class="btn btn-outline-dark btn-icon-text" style="border-radius: 15px;"> <i class="fa fa-apple btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Available on the</small> App Store </span> </button> -->
                </a>
              </div>
            </div>
          <div class="d-flex flex-start" style="margin: 30px;
          height: 300px;">
             <div>
              <img  style="width:180px;"src="assets/img/meebuddy/Section/main.png">
             </div>
          </div>
          <div>
            <div>
              <img style="width:600px; "src="assets/img/meebuddy/landing/landing.gif" calt="features" class="features_img  w:100 col-12 col-lg-10" />
            </div>
          </div>
        </div>

  </section>

</div>

<div *ngIf="user_location">
<app-locationmodal></app-locationmodal>
</div>
