<!-- <div class="container-fluid">
        <div class="row main-container2" style="background-image:linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);">
            <div class=" container banner-section-bg-container1 d-flex justify-content-top flex-column col-sm-12" style="padding-bottom: 20px;">
              <div class="row text-center justify-content-center">
                    <div class="col-lg-12" style="padding-top: 10px;"></div>
                    <div class="mt-5 ml-2 col-md-6" style="text-align: center;">
                       <h1  class="display-3 text-white">Dreaming of becoming a Franchise Manager in your local area?</h1>
                       <p class="banner-caption">TAKE A STEP BE A BUSINESS OWNER</p>
                       <a class="btn btn-secondary btn-round" href="manager.php " >Register for Franchise here</a>
                         <div class="col-md-3">
                         </div>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/img/meebuddy/Section/man.png" height="420px" class="app-img" />
                    </div>
                </div>
            </div>

        </div>
    </div> -->
    <div class="containerfluid">
      <div class="sub-line">
        <h3 style=" margin-left: 35px;
        font-size: 1.2rem; 
        color: #666666;">Open for Franchise Business.</h3>
      </div>
    <section class="container mt-5">
      <!--Contact heading-->
      <div class="row">
         <!--Grid column-->
         <div class="col-sm-12 mb-4 col-md-12">
            <!--Form with header-->
            <div class="card" >
               <div class="card-header p-0">
                 <!-- <div class="row main-container2" style="background-image:linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);"> -->
                   <div  class=" container banner-section-bg-container1 d-flex justify-content-top flex-column col-sm-12" style="padding-bottom: 0px;">
                    <div style="background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%) !important;" class="row text-center justify-content-center">
              <!-- <div class="row content-div"> -->
                    <div class="col-lg-12" style="padding-top: 15px;"></div>
                    <div  class="mt-5 ml-2 col-md-6 scl" style="text-align: center;">
                       <h1  class="display-3 text-white">Dreaming of becoming a Franchise Manager in your local area?</h1>
                       <p style="color:white;">TAKE A STEP BE A BUSINESS OWNER</p>
                       <a class="btn btn-secondary btn-round" href="manager.php " >Register for Franchise here</a>
                         <div class="col-md-3">
                         </div>
                    </div>
                    <div class="col-md-4 imgc">
                      <img src="assets/img/meebuddy/Section/man.png" height="420px" class="app-img" />
                    </div>
                             </div>
                           </div>

                          </div>
                        </div>
                  </div>
               </div>
            <!-- </div> -->
    </section>
<!-- <section id="services" class="bg-secondary">
  <div class="container-fluid">
    <div class="row text-center justify-content-center">
      <div class="col-lg-12" style="padding-top: 10px;">
        <h3 class="display-3">
          Our Services
        </h3>
        <p class="lead">
          We're constantly trying to express ourselves and actualize our
          dreams. 
        </p>
      </div>
    </div>
      <div class="row row-grid mt-1 ml-1">
        <div *ngFor="let card of cards" class="col-md-6 col-lg-4 mt-2">
          <div class="card card-lift--hover shadow border-0">
           
            <div class="card-body py-2" style="min-height: 200px;">
              <b><h5 class="title text-info text-uppercase">{{card.title}}</h5></b>
              <p>
                {{card.description}}
              </p>
            
              <a routerLink="{{card.link}}" class="btn btn-primary mt-2">{{card.button}}</a>
            </div>                
          </div>
        </div>
      </div>

  </div>    
</section> -->

<section class="container mt-5">
  <!--Contact heading-->
  <div class="row">
     <!--Grid column-->
     <div class="col-sm-12 mb-4 col-md-12">
        <!--Form with header-->
        <div class="card">
           <div class="card-header p-0">
  <!--Contact heading-->
            <!-- <div style="box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
border-radius: 10px;"class="my-flex bg-white"> -->
               <div class=" container banner-section-bg-container1 d-flex justify-content-top flex-column col-sm-12" style="padding-bottom: 25px;">
                <div class="row text-center justify-content-center">
          <!-- <div class="row content-div"> -->
                <div class="col-lg-12"></div>
                <div class="mt-5 ml-2 col-md-12" style="text-align: center;">
                  <h1 class="banner-heading">One stop solution for all your daily needs!</h1>
                  <p class="banner-caption">Download our app now and Order anything of your choice</p>
                  <a href="https://play.google.com/store/apps/details?id=com.meebuddy.android"><img style="width: 150px;"class="img" src="assets/img/meebuddy/Section/playstore.png" alt="play store" /></a>
                  <a href="https://apps.apple.com/us/app/meebuddy/id1554306664"><img style="width: 150px; margin-left: 25px" class="img" src="assets/img/meebuddy/Section/applestore.png" alt="App store" /></a><br>
            
                </div>
                <div style="display:flex; justify-content:space-evenly; align-items: center; width: 100%;flex-wrap: wrap;">
                  <div>
                    <img src="assets/img/meebuddy/Section/1.png" height="350px" class="app-img" />
                  </div>
                  <div>
                    <img src="assets/img/meebuddy/Section/2.png" height="350px" class="app-img" />
                  </div>
                  <div>
                    <img src="assets/img/meebuddy/Section/3.png" height="350px" class="app-img" />
                  </div>
                        <!-- <div class="app-screen  col-md-2">
                          <img src="assets/img/meebuddy/Section/1.png" height="350px" class="app-img" />
                      </div>
                      <div class="app-screen  col-md-2">
                        <img src="assets/img/meebuddy/Section/2.png" height="350px" class="app-img" />
                    </div>
                      <div class="app-screen  col-md-2">
                        <img src="assets/img/meebuddy/Section/3.png" height="350px" class="app-img" />
                    </div> -->
              </div>
                         </div>
                       </div>

                      </div>
                      </div>
        </div>
        </div>
    </section>

<!-- <section class="container mt-5">
<div style="box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
border-radius: 10px;"class="my-flex bg-white">
            <div class=" container banner-section-bg-container1 d-flex justify-content-top flex-column col-sm-12">
                <div class="row content-div">
                    <div class="col-md-1"></div>
                    <div class="mt-5 ml-2 col-md-8">
                        
                    </div>
                    
                    <div class="col-md-1"></div>
                </div>
            </div>
    </div>
  </section> -->
