<div class="container-fluid" id="localProds">
	<section id="category">
		<div class="explore-menu-section pt-lg-3 pb-lg-3">
	        <div class="container-fluid">
	            <div class="row section-container">
			<div class="col-12">
				<h1 class="menu-section-heading col-lg-10 float-left">Local Products</h1>
				<a [routerLink]="['/sell']"><button class="float-right col-lg-2 btn btn-primary mb-lg-0 mb-2">Sell with us</button></a>
			</div>

			<ng-container *ngIf="loading; else loaded">
				<div class="col-12 col-md-4 col-lg-4 pl-5 mt-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
					<ngx-skeleton-loader [theme]="{ height: '120px', 'border-radius': '15px'}"></ngx-skeleton-loader>
				</div>
			</ng-container>

			<ng-template #loaded>
				<div *ngIf="products?.items?.length == 0" style="width: 100%;" class="text-center"> <img src="../../../assets/img/empty-product.png" alt="No Items Found" style="margin-top:100px" class="img-fluid"> </div>
		                <div *ngFor="let shop of products | paginate: { itemsPerPage: 12, currentPage: p }" class="col-12 col-md-4 col-lg-4">

							<app-shop-card [data]="shop" [link]="'local-product'"></app-shop-card>

		                </div>  
			</ng-template>
	            </div>
			</div>
			
			<pagination-controls 
			
				class="d-flex justify-content-center mt-3 my-pagination" 
				autoHide="true" 
				responsive="true" 
				[maxSize]="maxSize" 
				(pageChange)="p = $event">
					
			</pagination-controls>
			
		</div>
	</section> 
</div>
