@media only screen and (max-width: 900px) {
	.mt-3 {
		margin-top: 0px !important;
	}
/*	.Button { float: none !important; } */
}
.btn {
	padding: 0.425rem 1rem;
}


.jHVRcr {
    left: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 68%;
    height: 2.2rem;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 6.9px;
    overflow: hidden;
    cursor: initial;
    user-select: none;
    background: rgb(255, 255, 255);
  }
  
  .huikLB {
    height: 100%;
  }
  
  .cMipmx {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hTzRFw {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 31.6667%;
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }
  
  .iNGntN {
    margin-top: 0.2rem;
  }
  
  .MxLSp {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
  }
  
  .hoSSCx {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 14px;
    height: 14px;
  }
  
  .iQCkqv {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 36.6667%;
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(247, 247, 247);
    cursor: initial;
  }
  
  .fTsfFl {
    color: rgb(28, 28, 28);
    font-size: 1.4rem;
    margin: 0px 0.5rem;
    font-weight: 500;
  }
  
  .TZpZK {
    margin-top: 0.2rem;
  }
