<section class="iq-features" id="objective">
  <div class="container">
    <div class="col-lg-6">
      <div class="holderCircle">
          <div class="round"></div>
          <div class="dotCircle">
              <span class="itemDot active itemDot1" data-tab="1">
              <i class="fa fa-object-group"></i>
              <span class="forActive"></span>
              </span>
              <span class="itemDot itemDot2" data-tab="2">
              <i class="fa fa-lightbulb-o"></i>
              <span class="forActive"></span>
              </span>
              <span class="itemDot itemDot3" data-tab="3">
              <i class="fa fa-money"></i>
              <span class="forActive"></span>
              </span>
              <span class="itemDot itemDot4" data-tab="4">
              <i class="fa fa-key"></i>
              <span class="forActive"></span>
              </span>
              <span class="itemDot itemDot5" data-tab="5">
              <i class="fa fa-connectdevelop"></i>
              <span class="forActive"></span>
              </span>
              <span class="itemDot itemDot6" data-tab="6">
              <i class="fa fa-briefcase"></i>
              <span class="forActive"></span>
              </span>
          </div>

          <div class="contentCircle">
              <div class="CirItem title-box active CirItem1">
                <h2 class="title"><span>Enable</span></h2>
                <p>Enable the creation of livelihood.</p>
                <i class="fa fa-object-group"></i>
              </div>
              <div class="CirItem title-box CirItem2">
                <h2 class="title"><span>Create </span></h2>
                <p>Create an inclusive entrepreneurial ecosystem spanning across the state by enabling wannabe entrepreneurs.</p>
                <i class="fa fa-lightbulb-o"></i>
              </div>
              <div class="CirItem title-box CirItem3">
                <h2 class="title"><span>Build</span></h2>
                <p>Build a nurturing ecosystem that supports entrepreneurship.</p>
                <i class="fa fa-money"></i>
              </div>
              <div class="CirItem title-box CirItem4">
                <h2 class="title"><span>Motivate</span></h2>
                <p>Motivate youth to become Job Givers rather than Job Seekers.</p>
                <i class="fa fa-key"></i>
              </div>
              <div class="CirItem title-box CirItem5">
                <h2 class="title"><span>Identify</span></h2>
                <p>Identify promising entrepreneurs from the state and support them to scale from idea stage to successful businesses.</p>
                <i class="fa fa-connectdevelop"></i>
              </div>
              <div class="CirItem title-box CirItem6">
                <h2 class="title"><span>Stories</span></h2>
                <p>Create success stories which can be Role Model for the youth.</p>
                <i class="fa fa-briefcase"></i>
              </div>
          </div>
        </div>
      </div>
  </div>

