<div class="card" id="{{item._id}}">
    <div class="row ">

<!--        <div *ngFor="let category of [item.category]" class="col-12">
                <a href="/restaurants/{{category.name | replaceAll}}-{{category._id}}"><button class="form-control btn btn-primary"><i aria-hidden="true" class="fa fa-home text-white"></i>{{category.name}}</button></a>
        </div>
-->
      <div class="col-lg-5 col-4 cardImg">
    <div class="card-img-overlay d-flex justify-content-end">
      <a class="card-link like" href='javascript:;' (click)='wishlist(item._id);'>
        <i [ngClass]="dataService.checkWishlist(item._id) ? 'fas fa-heart text-red' : 'far fa-heart text-red'" style="font-size: x-large;"></i>
      </a>
    </div>
        <img style="height: auto; max-height:250px; width: inherit;" src={{item.images[0].image_url}} class="img-fluid">
      </div>

      <div class="col-lg-7 col-8 cardData" >
        <div class="card-block px-2">
            <h4 class="card-title py-3">{{item.name | titlecase}}</h4>
        <h6 *ngIf="item.quantities?.length ==1; else menu">Quantity: {{item.quantities[0]?.quantity}}</h6>
        <ng-template #menu>

            <div class="select mr-1">
                <select [(ngModel)]="selected" name="selector">
                    <option [ngValue]="first" *ngFor="let single of first" selected>{{single.quantity}}</option> 
                    <option [ngValue]="[detail]" *ngFor="let detail of item.quantities | slice:1"><h6>{{detail.quantity}}</h6></option>
                </select>
            </div>
	</ng-template>
	<div>
            <h5 class="mt-4 float-left" *ngFor="let test of selected">
		<span>&#8377;{{test.product_cost}} 
			<span *ngIf="test.product_cost !== test.mrp_cost"><del class="text-danger">&#8377;{{test.mrp_cost}}</del>&nbsp;
			&#40;<b class="discount-percent">{{test.discount}}% off</b>&#41;</span>
		</span>
	   </h5>
	   <div class="col-4 float-right cartButton">
            <app-cartbutton [CARD]="item" [quantity]="selected"></app-cartbutton>
           </div>
	</div>
        </div>
      </div>

        <div *ngFor="let category of [item.category]" class="col-12">
                <a href="/restaurants/{{category.name | replaceAll}}-{{category._id}}">
			<button class="form-control btn btn-secondary"><i aria-hidden="true" class="fa fa-home"></i>{{category.name}}</button>
		</a>
        </div>
	
	<!-- <div *ngFor="let category of [item.category]">
		<a href=""><button class="form-control"><i aria-hidden="true" class="fa fa-home text-white"></i>{{category.name}}</button></a>
	</div> -->
   </div>    
</div>
