body {
  padding: 2rem 0rem;
}
.card .card-img-overlay:after{
	background: rgba(0, 0, 0, 0);
	content: normal;
}

.like {
  font-size: 1.5rem;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: rgb(184, 76, 151);
}

@media only screen and (max-width: 900px) {
        .container-fluid {
                padding: 5px !important;
                width: 100% !important;
        }
}
